input {
  display: block;
  border: none;
}

.italics {
  font-style: italic;
}

/* This is all for the signin form */
.signin-input {
  margin: 0 auto;
  width: 80%;
}

.signin-text {
  border-bottom: 2px solid black;
}

.signin-text:focus {
  outline: none;
}

.signin-btn {
  background-color: blue;
  color: white;
}

#signin {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  border: 2px solid black;
  box-shadow: 0px 6px 16px 16px lightgray;
}
